{% extends base.html %}

{% block content %}
          <img class="header_picture" src="static/img/borabora.jpg">
      </div>
  </div>
<!-- Page Content -->
<div class="container" id="travel-p1">
  <div class="row" >
    <div class="col-md-8 mb-5" >
      <h2>My Adventures</h2>
      <hr>
      <p>I am an avid traveller, I have visited 15 countries so far and counting. I have a passion for discovering new cultured, cuisine and languages.</p>
      <p>“Man cannot discover new oceans unless he has the courage to lose sight of the shore.” <br>“It is not down in any map; true places never are.”<br>These quotes help me push the envelop to seek a little discomfert for greater memory.</p>

    </div>

  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="static/img/cabo_122018.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Cabo, Mexico</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="static/img/moorea_tahiti.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Bora Bora</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="static/img/majorca.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Majorca, Spain</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
