{% extends 'base.html' %}

{% block content %}
<!--============Section 1 about i-am============-->
<section class="i-am">
    <div class="container">
        <div class="row">
            <div class="col-lg-7" id="my-details">
                <div class="hello">
                    <h3>HELLO...</h3>
                    <h1>I am Syed Hussain</h1>
                    <h5>Software Engineer by trade & traveller by choice</h5>
                    <img class="first-img" src="static/img/mypic.png">
                </div>
            </div>
            <div class="col-lg-5" id="my-details-img">
                <img class="third-img" src="static/img/home-right.png">
            </div>
        </div>
    </div>
</section>

<!--============Section 2 about-me============-->
<section class="about-me">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img class="second-img" src="static/img/about-us.png">
            </div>

                <div class="col-lg-4">
                    <h2>LET ME INTRODUCE MYSELF</h2>
                    <ul>
                        <li>I am a front end developer with a passion for Automation & Developing Andrioid Apps.</li>
                        <li>I am also a avid traveller, I have travelled 15 countries and counting.</li>
                        <li>My friends also say that I am pretty good cook.</li>
                    </ul>
                    <a href="portfolio.html"><button class="button button1">Read More...</button></a>
                    <button class="button button1">Download CV</button>

                </div>
            </div>
    </div>
</section>
<!--============Section 3 travel============-->
<section class="travel">
    <div class="container">
        <div class="row">
            <div class="col-lg-5" id="my-journey-text">
                <h2>FOLLOW MY JOURNEY</h2>
                <p>Check out my recent trip to <strong>Cabo, Mexico</strong><br>White beaches, fecund waters and spectacular arching stone cliffs at Land's End.</p>
                <a href="travel.html"><button class="button button2">Travel Blog</button></a>
            </div>
            <div class="col-lg-5" id="my-journey-img">
                <img class="img-cabo" src="static/img/cabo_122018.jpg">
            </div>
        </div>
    </div>
</section>

<!--============Section 4 Follow-me============-->
    <section class="follow-me" id="follow-me">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img class="follow-me-img" src="static/img/s4.png">
            </div>
                <div class="col-lg-5" id="connect">
                    <h2>CONNECT WITH ME</h2>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-github"></a>
                    <p>syedhussainqa@gmail.com</p>
                    <form action="/send-email" method="POST">
                        <input name="name" placeholder="Name" />
                        <input name="email" type="email" placeholder="Email" />
                        <textarea name="message">
                        </textarea>
                        <button type="submit">Submit</button>
                    </form>

            </div>
        </div>
    </div>
</section>
{% endblock content%}