<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="author" content="Syed Hussain">
	<title>Syed Portfolio</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300|Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">

</head>
<!--===============Buttons in the header=============-->
<body>
    <div class="header">
        <div class="pill-nav">
            <a href="index.html#follow-me">Contact</a>
            <a href="my-blog">Travel Blog</a>
            <a href="my-projects">My Work</a>
	    <h3 class="name">SYED HUSSAIN</h3>

	    {{content|safe}}
  </body>
</html>
